# Build Environment
HTTP_PROXY=http://clientproxy.corproot.net:8079
HTTPS_PROXY=http://clientproxy.corproot.net:8079

# Host Environment
APP_NAME=knot-resolver
CONTAINER_NAME=bluewin/cns
DOCKERFILE_DIR=.
CONTAINER_PORT=53
LOCAL_PORT=5553
